.container {
    border: 1px solid black;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .total {
        width: 40%;
        text-align: center;
        display: inline-block;
        margin: 5px auto;
        padding: 10px;
        font-weight: bold;
        border-radius: 3px;
        background-color: gray;
        color: white;
    }
    .buy {
        color: #4bffb5;
    }
    .sell {
        color: #ff4976;
    }
    .table {
        display: grid;
        grid-template-columns: repeat(9, 1fr); // 8 equal columns
        width: 100%;
        padding: 10px;
        padding-top: 0;
        box-sizing: border-box;
        .cell {
            padding: 10px;
            text-align: center;
            font-size: 14px;
        }
        // Header styling
        .header {
            font-weight: bold;
            background-color: gray;
            color: white;
        }
        // Alternate row background color for readability
        .cell:nth-child(18n + 10),
        .cell:nth-child(18n + 11),
        .cell:nth-child(18n + 12),
        .cell:nth-child(18n + 13),
        .cell:nth-child(18n + 14),
        .cell:nth-child(18n + 15),
        .cell:nth-child(18n + 16),
        .cell:nth-child(18n + 17),
        .cell:nth-child(18n + 18) {
            background-color: #e9ecef;
        }

        .buy {
            color: green;
            font-weight: bold;
        }
        .sell {
            color: red;
            font-weight: bold;
        }
    }
    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
        .content {
            display: flex;
            align-items: center;
            gap: 10px;
            .page {
                margin: 0 5px;
            }
            .button {
                cursor: pointer;
                color: gray;
                font-size: 20px;
                &:active {
                    transform: translate(1px, 1px);
                }
            }
        }
    }
}
