@use "@src/breakpoint.scss" as *;

.bottom_left {
    right: 10px;
}

.bottom_right {
    top: 100%;
    left: 100%;
}

.middle_right {
    top: 50%;
    left: 110%;
}

.top_right {
    top: 0%;
    left: 105%;
}
.welcomeBoard {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    max-width: 850px;
    width: 100%;
    text-align: center;
    .welcomeTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .icon {
            font-size: 40px;
            color: #333;
        }

        h2 {
            margin-top: 8px;
            font-size: 22px;
            font-weight: bold;
            color: #222;
            padding-bottom: 5px;
            border-bottom: 2px solid #444;
        }
    }

    .content {
        padding: 15px;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #333;

        span {
            line-height: 1.5;
        }
    }
}

.helpContainer {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    border: black dashed 1px;
    box-shadow: 2px 2px 0px 2px yellow;
    .helpBox {
        width: 250px;
        text-align: center;
    }
    .helpConfig {
        width: 500px;
        .title {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 10px;
            h3 {
                margin: 0;
            }
            .icon {
                font-size: 20px;
            }
        }
        .content {
            padding: 5px 20px;
            margin: 5px;
            ul {
                margin: 0px;
                padding: 0px;
                li {
                    margin: 5px;
                }
            }
        }
    }
    .helpApplyButton {
        width: 300px;
    }
}
